.planets {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 500px;

    .title {
        text-align: center;
        font-size: 24px;
        padding-bottom: 8px;
        padding-right: 40px;
    }

    .planetContainer {
        border: 1px solid black;
        background-color: lightgray;
        margin-bottom: 10px;

        .planetInfoContainer {
            margin: auto;
            border-bottom: 2px solid black;

            .planetIdTextQualifier {
                padding-right: 6px;
                float: left;
            }
        }
        .singleSpeciesInfoContainer {
            margin: 0 auto;
        }
    }
    .speciesInfoContainer {
        background-color: rgb(194, 189, 189);

        .singleSpeciesInfoContainer {
            border-bottom: 1px solid black;

            .speciesNameQualifier, 
            .speciesClassificationQualifier, 
            .speciesLanguageQualifier, 
            .speciesHomeworldQualifier {
                float: left;
                padding-right: 6px;
            }
        }
    }

    .addPlanetContainer {
        margin: 0 auto;
        padding-left: 60px;
    }
}